erolanguage: php
php:
  - 5.6
  - 7
  - 7.1
  - 7.2

services:
  - mysql

# notifications:
#   email:
#     on_success: never
#     on_failure: change

# branches:
#   only:
#     - master

# env:
#   - WP_VERSION=latest WP_MULTISITE=0
#   # - WP_VERSION=4.0 WP_MULTISITE=0
#   - WP_VERSION=4.7.0 WP_MULTISITE=0

# matrix:
#   include:
#     - php: 5.6
#       env: WP_VERSION=latest WP_MULTISITE=1

before_script:
  - travis_retry npm install -D
  - bash bin/install-wp-tests.sh wordpress_test root '' 127.0.0.1 $WP_VERSION
  - export PATH="$HOME/.composer/vendor/bin:$PATH"
  - echo ${TRAVIS_PHP_VERSION}
  - |
    if [[ ${TRAVIS_PHP_VERSION:0:1} == "7" ]]; then
      composer global require "phpunit/phpunit=7.*"
    else
      composer global require "phpunit/phpunit=4.8.*"
    fi
#   - |
#     composer global require wp-coding-standards/wpcs
#     phpcs --config-set installed_paths $HOME/.composer/vendor/wp-coding-standards/wpcs

script:
#   - phpcs --standard=phpcs.ruleset.xml $(find . -name '*.php')
  - phpunit
